footer{
    background-color: #8a5baf;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;

    .footer-content{
        max-width: 1200px;
        margin: 0 auto;


        p{
            margin: 0;
            font-size: 14px;
        }

        a{
            text-decoration: none;
            color: inherit;
        }

        .social-links{
            margin-top:10px;

            a{
                color: #fff;
                font-size: 18px;
                margin: 0 10px;
                text-decoration: none;
                transition: color .3s ease; 

                &:hover{
                    color:#FF1493;
                }
            }
        }
    }
}